$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

html {
  width: 100%;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  width: 100%;
  font-family: Muli, sans-serif;
}

.list {
  list-style: none;
}

.nav {
  outline: 1px solid #000;
  margin: 0;
  width: 100%;
  font-size: 1.4em;
  height: 50px;

  ul,
  h3 {
    display: inline;
    margin: 0;
    width: 50%;
    position: relative;
  }
  
  ul {
    float: right;
    text-align: right;
    margin-right: 0;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
}

.about {
  text-align: center;
  font-size: 1.4em;
  position: relative;
  background: grey;
  height: 300px;
  padding: 50px 0;

  h2 {
    text-align: center;
    font-size: 4em;
    margin: 0;
  }
}

.skills {
  outline: 1px solid #000;
  margin: 0;
  padding: 0;

  h2 {
    text-align: center;
    font-size: 4em;    
    padding: 20px 0;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 10px 0 40px;
    text-align: center;
    font-size: 1.4em;
  }

  li {
    outline: 1px solid #000;
    display:inline-block;
    margin: 0;
    padding: 15px 0;
    height: 50px;
    width: 30%;
    text-align:center;
  }
}

.work {
  h2 {
    text-align: center;
    font-size: 4em;    
    padding: 20px 0;
    margin: 0;
  }

  .work-container {
    display: block;
    margin: 10px auto;
    outline: 1px solid #000;
    width: 80%;
    padding: 0 auto;

    .work-details-container {
      display: inline-block;
      text-align: left;
      font-size: 1.4em;
      position: absolute;
    }
  }
}

.contact {
  width: 100%;

  li {
    display: inline-block;
    width: 33%;
    outline: 2px solid #000;
    text-align: center;
  }
}


